body {
  background-color: #fed767;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  @media (max-width: 1023px) {
    max-width: 768px;
  }
  @media (max-width: 767px) {
    max-width: 640px;
  }
  @media (max-width: 639px) {
    max-width: 480px;
  }
}

.wrapper {
  overflow-x: hidden;
}

sup {
  font-size: 60%;
  line-height: 0;
}
