{% extends "base.html" %} 

{% load sass_tags %} 

{% load static %} 

{% block content %}
<div class="bg-login">
  <div class="login">
    <div class="col-left">
      <img class="img-login" src="{% static 'imagens/fundo-beecode.png' %}" />
    </div>
    <div class="col-right">
      <h2>LOGIN</h2>
      <div class="form">
        <form action="submit" , method="POST">
          {% csrf_token %}
          <div class="group">
            <div class="img">
            <img class="user" src="{% static 'imagens/icon-user.png' %}" />
          </div>
            <input
              type="username"
              id="username"
              placeholder="Usuário"
              name="username"
              size="10"
              class="input"
            />
            
            <span class="bar"></span>
            <label for="username"></label>
          </div>
          <div class="group">
            <div class="img">
            <img class="user" src="{% static 'imagens/icon-password.png' %}" />
          </div>
            <input
              type="password"
              id="pwd"
              placeholder="Senha"
              name="password"
              class="input"
            />
            
            <span class="bar"></span>
            <label for="pwd"></label>            
          </div>
          {% if messages %} {% for message in messages %}
          <div class="">{{ message }}</div>
          {% endfor %} {% endif %}
          <button type="submit" class="btn btn-primary">Entrar</button>
          <a href="{% url 'password_reset' %}" class="btn btn-link"
            >Forgot your password?</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
