{% extends 'base.html' %} 

{% load static %}


{% block nav %}
  {% include "nav.html" %}
{% endblock %}

{% load crispy_forms_tags %} 
{% block content %}
<div class="row justify-content-center">    
  <div class="col-8">      
    <div class="card mb-4">
      <div class="card-body">
          <div class="img-logo">
              <img class="img-reset" src="{% static 'imagens/logo-menor.png' %}" />
          </div>
        <h2>Alterar Senha</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
