body {
  background-color: rgb(228, 171, 101);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  @media (max-width: 1023px) {
    max-width: 768px;
  }
  @media (max-width: 767px) {
    max-width: 640px;
  }
  @media (max-width: 639px) {
    max-width: 480px;
  }
}

.wrapper {
  overflow-x: hidden;
}

sup {
  font-size: 60%;
  line-height: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
