body {
  background-color: #f3f5f7;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .container {
      max-width: 768px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 640px; } }
  @media (max-width: 639px) {
    .container {
      max-width: 480px; } }

.wrapper {
  overflow-x: hidden; }

sup {
  font-size: 60%;
  line-height: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

.bg-login {
  background: url("../imagens/bg-login.jpg");
  height: 100vh;
  background-position: top center; }

.login {
  height: 478px;
  border-radius: 45px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
  left: 0;
  right: 0;
  margin: auto;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* active state */
  /* ANIMATIONS ================ */ }
  .login .col-left,
  .login .col-right {
    display: inline-block;
    vertical-align: top; }
  .login .col-right {
    width: 59%;
    justify-content: center; }
  .login h2 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 48px;
    color: #5f5d5e;
    text-align: center;
    margin-top: 60px; }
  .login .form {
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    position: relative; }
  .login img {
    vertical-align: bottom; }
  .login .img {
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 2px solid #5f5d5e; }
  .login .img-login {
    margin-top: -1px; }
  .login .group {
    position: relative;
    margin-bottom: 45px; }
  .login .input {
    font-size: 18px;
    display: inline-block;
    width: 280px;
    border: none;
    border-bottom: 2px solid #5f5d5e;
    margin-left: -5px;
    padding-left: 20px; }
  .login .input:focus {
    outline: none; }
  .login .error-login {
    width: 100%;
    max-width: 295px;
    position: absolute;
    bottom: 150px;
    color: red;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
  .login .button {
    padding: 14px 10px;
    width: 100%;
    max-width: 180px;
    display: block;
    border-radius: 30px;
    background-color: #efc52e;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px -3px 16px 0 rgba(255, 236, 53, 0.6);
    border: none;
    text-decoration: none;
    margin: 0 auto; }
    .login .button:hover {
      background-color: #fedb75; }
  .login hr {
    border: 1px solid #5f5d5e;
    margin: 30px 0; }
  .login .btn-psw {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5f5d5e;
    display: block;
    text-align: center; }
  .login label {
    color: #5f5d5e;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .login .input:focus ~ label,
  .login .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264ae; }
  .login .bar {
    position: relative;
    display: block;
    width: 302px; }
  .login .bar:before,
  .login .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #efc230;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .login .bar:before {
    left: 50%; }
  .login .bar:after {
    right: 50%; }
  .login .input:focus ~ .bar:before,
  .login .input:focus ~ .bar:after {
    width: 50%; }
  .login .input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264ae; }
  to {
    width: 0;
    background: transparent; } }

.reset .img-logo {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px; }
  .reset .img-logo .img-reset {
    width: 50px; }

.reset .form-reset .control-group {
  display: inline-flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%; }

.reset .form-reset .error {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: red; }

.reset .form-reset .btn-reset {
  max-width: 280px;
  margin-top: 30px; }

.reset .form-reset label {
  position: unset;
  padding-right: 5px; }

.reset .form-reset .emailinput {
  width: 280px;
  border: none;
  border-bottom: 2px solid #5f5d5e; }

.reset-done {
  display: flex;
  justify-content: center; }
  .reset-done .img-logo {
    margin: 60px auto;
    text-align: center; }
  .reset-done p {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 10px; }

.alterar-senha-sucesso {
  text-align: center;
  margin-top: 60px; }
  .alterar-senha-sucesso p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px; }

.nav {
  align-items: center;
  background: url("../imagens/bg-login.jpg");
  position: relative;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.1); }
  .nav .logo {
    background-color: #fff;
    padding: 35px;
    box-shadow: 8px 0px 8px -10px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #e6e6e6; }
  .nav .config {
    position: absolute;
    right: 240px; }
  .nav .nav-tabs {
    border: none;
    background: transparent;
    box-shadow: none; }
  .nav .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff; }
  .nav .nav-tabs .nav-item.show .nav-link,
  .nav .nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent; }
  .nav .dropdown-menu {
    background-color: #ffd566;
    min-width: 0;
    left: -16px !important; }
  .nav .dropdown-item {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    background-clip: border-box; }
  .nav .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline; }

.nav-vertical {
  position: fixed;
  height: 100vh;
  background: #fff;
  width: 264px;
  box-shadow: 8px 0px 8px -10px rgba(0, 0, 0, 0.25); }
  .nav-vertical .nav {
    align-items: baseline;
    background: #fff;
    box-shadow: none;
    margin-top: 60px;
    padding-left: 20px; }
  .nav-vertical .nav:hover {
    background: #e6e8ea; }
  .nav-vertical .nav-item .nav-link {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5f5d5e; }
    .nav-vertical .nav-item .nav-link .img-cadastro {
      padding-right: 10px;
      padding-bottom: 6px; }

.home {
  position: relative;
  width: 100%;
  margin: 0 0 0 auto;
  max-width: calc(100% - 267px); }

.dash {
  padding-left: 90px;
  padding-top: 60px; }
  .dash .dash-clientes {
    display: inline-block;
    position: relative; }
    .dash .dash-clientes img:first-child {
      margin-right: 60px; }
    .dash .dash-clientes .text-clientes,
    .dash .dash-clientes .text-clientes-count {
      position: absolute;
      font-size: 22px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #fff;
      left: 30px; }
    .dash .dash-clientes .text-clientes {
      top: 130px; }
    .dash .dash-clientes .text-clientes-count {
      bottom: 100px; }

.cadastro {
  padding-left: 60px;
  padding-top: 68px; }
  .cadastro .input-group {
    width: 100%;
    max-width: 800px;
    display: inline-flex;
    align-items: baseline;
    margin-right: 50px; }
  .cadastro .btn-incluir {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #5f5d5e; }
  .cadastro .img-incluir {
    margin-right: 10px; }

.form-cadastro {
  padding-left: 90px;
  padding-top: 68px; }
  .form-cadastro .nav-form-cadastro {
    width: 100%;
    max-width: 1200px; }
    .form-cadastro .nav-form-cadastro .nav-tabs {
      background: #f3f5f7; }
    .form-cadastro .nav-form-cadastro .nav-link {
      color: #5f5d5e;
      max-width: 250px;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      padding: 15px 10px; }
    .form-cadastro .nav-form-cadastro .nav-link:hover {
      color: #f3f5f7;
      background: #efc230; }
    .form-cadastro .nav-form-cadastro .nav-link.active {
      color: #f3f5f7;
      background: #efc230;
      border: none; }
  .form-cadastro .tab-content {
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; }
  .form-cadastro .control-group {
    padding-top: 10px; }
  .form-cadastro .help-block {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: red; }
    .form-cadastro .help-block strong {
      font-weight: 400; }
  .form-cadastro .btn {
    width: 100%;
    max-width: 180px;
    margin-top: 30px;
    background-color: #efc52e;
    border: none; }
  .form-cadastro .btn:hover {
    background-color: #fedb75; }

/*# sourceMappingURL=main.css.map */